<section class="box">
    <section class="container">
        <section class="">
            <h2><strong>INTEGRANTES DEL GRUPO</strong></h2>
            <h3><strong>NOMBRES:</strong></h3>
                <ul>
        
                    <li><strong>ARACELI PONCE SANGA</strong></li>
                    <li><strong>EDILT LUZ TORIBIO FLORES</strong></li>
                    <li><strong>JHYM STONY HUALLA MUÑOZ</strong></li>
                    <li><strong>MARWIN WLADIMIR GARAY MONTOYA</strong></li>
                    
                </ul>
        </section>
    </section>
</section>

